@use "@angular/material" as mat;

// custom theming for Angular Material - for more information: https://material.angular.io/guide/theming
@use "m3-theme" as *;

@use "material-design-lite/css/core.css";

@use "material-tokens/css/palette.css";
@use "material-tokens/css/color.css";
@use "material-tokens/css/themes/dark.css";
@use "material-tokens/css/themes/light.css";

@include mat.elevation-classes();
@include mat.app-background();

:root {
  @include mat.all-component-themes($light-theme);

  color-scheme: light;

  --x-shell-background-color: #fff;
  --x-shell-default-outline: 0.0625rem solid #000;
  --peer-message-peer: #007aff;
  --peer-message-peer-color: #fff;
  --x-peer-container-spacer: 1.6875rem;

  --md-comp-button-container-height: 2.5rem;
  --md-comp-button-container-shape: 1.25rem;
  --md-comp-filled-button-container-height: var(
    --md-comp-button-container-height
  );

  --md-sys-color-primary: var(--md-ref-palette-neutral10);
  --md-sys-color-surface: var(--md-ref-palette-neutral99);
  --md-sys-color-tertiary: var(--md-ref-palette-neutral20, #4b4b7d);
  --md-switch-selected-focus-handle-color: var(--md-ref-palette-neutral90);
  --md-switch-selected-hover-handle-color: var(--md-ref-palette-neutral90);
  --md-sys-color-on-primary: var(--md-ref-palette-neutral90);
  --md-sys-color-on-surface-rgb: var(--md-ref-palette-neutral10-rgb);
  --md-sys-color-on-surface: var(--md-sys-color-primary);

  --mat-button-text-label-text-color: var(--mat-sys-on-primary-container);
  --mat-menu-item-with-icon-leading-spacing: 1rem;
  --mat-menu-item-with-icon-trailing-spacing: 1rem;
  --mat-sys-on-primary-container: var(--md-sys-color-surface);
  --mat-sys-primary-container: var(--md-sys-color-tertiary);
  --mat-tab-container-height: 3rem;
  --mat-toolbar-standard-height: 4rem;

  --mat-sidenav-container-background-color: var(
    --x-shell-background-color,
    #fff
  );
  --mat-sidenav-container-text-color: #000;
  --mat-sidenav-content-background-color: var(--x-shell-background-color, #fff);
  --mat-sidenav-content-text-color: #000;
  --mat-sidenav-scrim-color: #000000cc;

  --mdc-theme-primary: var(--md-sys-color-on-primary);
  --mdc-theme-secondary: var(--md-ref-palette-neutral40);
  --mdc-theme-text-primary-on-background: var(--md-sys-color-on-primary);

  --x-postpress-a-text-decoration: underline;
  --pwgen-password-background: var(--md-ref-palette-neutral90);
  --pwgen-password-controls-background: var(--md-sys-color-inverse-surface);

  // use the light theme when client prefers light-theme
  @media (prefers-color-scheme: light) {
    @include mat.all-component-themes($light-theme);
    color-scheme: light;

    --x-shell-background-color: #fff;
    --x-shell-default-outline: 0.0625rem solid #000;
    --peer-message-peer: #007aff;
    --peer-message-peer-color: #fff;
    --x-peer-container-spacer: 1.6875rem;

    --mat-sidenav-container-background-color: var(--x-shell-background-color);
    --mat-sidenav-container-text-color: #000;
    --mat-sidenav-content-background-color: var(--x-shell-background-color);
    --mat-sidenav-content-text-color: #000;
    --mat-sidenav-scrim-color: #000000cc;

    --md-sys-color-primary: var(--md-ref-palette-neutral10);
    --md-sys-color-surface: var(--md-ref-palette-neutral99);
    --md-sys-color-tertiary: var(--md-ref-palette-neutral20, #4b4b7d);
    --md-switch-selected-focus-handle-color: var(--md-ref-palette-neutral90);
    --md-switch-selected-hover-handle-color: var(--md-ref-palette-neutral90);
    --md-sys-color-on-primary: var(--md-ref-palette-neutral90);
    --md-sys-color-on-surface-rgb: var(--md-ref-palette-neutral10-rgb);
    --md-sys-color-on-surface: var(--md-sys-color-primary);

    --mat-button-text-label-text-color: var(--mat-sys-on-primary-container);
    --mat-menu-item-with-icon-leading-spacing: 1rem;
    --mat-menu-item-with-icon-trailing-spacing: 1rem;
    --mat-sys-on-primary-container: var(--md-sys-color-surface);
    --mat-sys-primary-container: var(--md-sys-color-tertiary);
    --mat-tab-container-height: 3rem;
    --mat-toolbar-standard-height: 4rem;

    --mdc-theme-primary: var(--md-sys-color-on-primary);
    --mdc-theme-secondary: var(--md-ref-palette-neutral40);
    --mdc-theme-text-primary-on-background: var(--md-sys-color-on-primary);

    --pwgen-password-background: var(--md-ref-palette-neutral90);
    --pwgen-password-controls-background: var(--md-sys-color-inverse-surface);
  }

  // use the dark theme when client prefers dark-theme
  @media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($dark-theme);

    color-scheme: dark;

    --x-shell-background-color: #121212;
    --x-shell-default-outline: 0.0625rem solid #fff;
    --peer-message-peer: #32d74b;
    --peer-message-peer-color: #000;
    --x-peer-container-spacer: 1.6875rem;

    --mat-sidenav-container-background-color: var(--x-shell-background-color);
    --mat-sidenav-container-text-color: #fff;
    --mat-sidenav-content-background-color: var(--x-shell-background-color);
    --mat-sidenav-content-text-color: #fff;
    --mat-sidenav-scrim-color: #000000cc;

    --md-sys-color-primary: var(--md-ref-palette-neutral90);
    --md-sys-color-surface: var(--md-ref-palette-neutral10);
    --md-sys-color-tertiary: var(--md-ref-palette-neutral50);
    --md-switch-selected-focus-handle-color: var(--md-ref-palette-neutral10);
    --md-switch-selected-hover-handle-color: var(--md-ref-palette-neutral10);
    --md-sys-color-on-primary: var(--md-ref-palette-neutral10);
    --md-sys-color-on-surface-rgb: var(--md-ref-palette-neutral90-rgb);
    --md-sys-color-on-surface: var(--md-sys-color-primary);

    --mat-button-text-label-text-color: var(--mat-sys-on-primary-container);
    --mat-menu-item-with-icon-leading-spacing: 1rem;
    --mat-menu-item-with-icon-trailing-spacing: 1rem;
    --mat-sys-on-primary-container: var(--md-sys-color-surface);
    --mat-sys-primary-container: var(--md-sys-color-tertiary);
    --mat-tab-container-height: 3rem;
    --mat-toolbar-standard-height: 4rem;

    --mdc-elevated-card-container-color: var(--md-sys-color-surface);
    --mdc-tab-text-label-color-default: var(--md-ref-palette-neutral50);
    --mdc-theme-primary: var(--md-sys-color-on-primary);
    --mdc-theme-secondary: var(--md-ref-palette-neutral30);
    --mdc-theme-text-primary-on-background: var(--md-ref-palette-neutral10);

    --pwgen-password-background: var(--md-ref-palette-neutral20);
    --pwgen-password-controls-background: var(--md-ref-palette-neutral40);
  }

  &.light-theme {
    @include mat.all-component-themes($light-theme);

    color-scheme: light;

    --x-shell-background-color: #fff;
    --x-shell-default-outline: 0.0625rem solid #000;
    --peer-message-peer: #007aff;
    --peer-message-peer-color: #fff;
    --x-peer-container-spacer: 1.6875rem;

    --mat-sidenav-container-background-color: var(--x-shell-background-color);
    --mat-sidenav-container-text-color: #000;
    --mat-sidenav-content-background-color: var(--x-shell-background-color);
    --mat-sidenav-content-text-color: #000;
    --mat-sidenav-scrim-color: #000000cc;

    --md-sys-color-primary: var(--md-ref-palette-neutral10);
    --md-sys-color-surface: var(--md-ref-palette-neutral99);
    --md-sys-color-tertiary: var(--md-ref-palette-neutral20, #4b4b7d);
    --md-switch-selected-focus-handle-color: var(--md-ref-palette-neutral90);
    --md-switch-selected-hover-handle-color: var(--md-ref-palette-neutral90);
    --md-sys-color-on-primary: var(--md-ref-palette-neutral90);
    --md-sys-color-on-surface-rgb: var(--md-ref-palette-neutral10-rgb);
    --md-sys-color-on-surface: var(--md-sys-color-primary);

    --mat-button-text-label-text-color: var(--mat-sys-on-primary-container);
    --mat-menu-item-with-icon-leading-spacing: 1rem;
    --mat-menu-item-with-icon-trailing-spacing: 1rem;
    --mat-sys-on-primary-container: var(--md-sys-color-surface);
    --mat-sys-primary-container: var(--md-sys-color-tertiary);
    --mat-tab-container-height: 3rem;
    --mat-toolbar-standard-height: 4rem;

    --mdc-theme-primary: var(--md-sys-color-on-primary);
    --mdc-theme-secondary: var(--md-ref-palette-neutral40);
    --mdc-theme-text-primary-on-background: var(--md-sys-color-on-primary);

    --pwgen-password-background: var(--md-ref-palette-neutral90);
    --pwgen-password-controls-background: var(--md-sys-color-inverse-surface);
  }

  &.dark-theme {
    @include mat.all-component-themes($dark-theme);

    color-scheme: dark;

    --x-shell-background-color: #121212;
    --x-shell-default-outline: 0.0625rem solid #fff;
    --peer-message-peer: #32d74b;
    --peer-message-peer-color: #000;
    --x-peer-container-spacer: 1.6875rem;

    --mat-sidenav-container-background-color: var(--x-shell-background-color);
    --mat-sidenav-container-text-color: #fff;
    --mat-sidenav-content-background-color: var(--x-shell-background-color);
    --mat-sidenav-content-text-color: #fff;
    --mat-sidenav-scrim-color: #000000cc;

    --md-sys-color-primary: var(--md-ref-palette-neutral90);
    --md-sys-color-surface: var(--md-ref-palette-neutral10);
    --md-sys-color-tertiary: var(--md-ref-palette-neutral50);
    --md-switch-selected-focus-handle-color: var(--md-ref-palette-neutral10);
    --md-switch-selected-hover-handle-color: var(--md-ref-palette-neutral10);
    --md-sys-color-on-primary: var(--md-ref-palette-neutral10);
    --md-sys-color-on-surface-rgb: var(--md-ref-palette-neutral90-rgb);
    --md-sys-color-on-surface: var(--md-sys-color-primary);

    --mat-button-text-label-text-color: var(--mat-sys-on-primary-container);
    --mat-menu-item-with-icon-leading-spacing: 1rem;
    --mat-menu-item-with-icon-trailing-spacing: 1rem;
    --mat-sys-on-primary-container: var(--md-sys-color-surface);
    --mat-sys-primary-container: var(--md-sys-color-tertiary);
    --mat-tab-container-height: 3rem;
    --mat-toolbar-standard-height: 4rem;

    --mdc-elevated-card-container-color: var(--md-sys-color-surface);
    --mdc-tab-text-label-color-default: var(--md-ref-palette-neutral50);
    --mdc-theme-primary: var(--md-sys-color-on-primary);
    --mdc-theme-secondary: var(--md-ref-palette-neutral30);
    --mdc-theme-text-primary-on-background: var(--md-ref-palette-neutral10);

    --pwgen-password-background: var(--md-ref-palette-neutral20);
    --pwgen-password-controls-background: var(--md-ref-palette-neutral40);
  }
}

html,
body {
  background-color: var(--x-shell-background-color);
  height: 100%;
  margin: 0;
}

x-root {
  width: 100%;
}

html {
  color: var(--md-sys-color-on-surface);

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tertiary-checkbox {
  --sys-tertiary: blue;

  @include mat.checkbox-color($light-theme, $color-variant: tertiary);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* workaround for .cdk-overlay-container and menu */
.cdk-overlay-container {
  .mat-mdc-menu-panel {
    background-color: var(--x-shell-background-color);
    margin-bottom: 1rem;

    .mat-mdc-menu-content {
      padding: 0.5rem 1rem 0 1rem;

      .mat-mdc-menu-item {
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* workaround for template shadowrootmode="open"
  @ feeds/karl-herrick
*/
x-element {
  display: none;
}
